[submodule "fuzzywuzzy_git"]
	path = fuzzywuzzy_git
	url = https://github.com/seatgeek/fuzzywuzzy.git
[submodule "pygame_cffi"]
	path = pygame_cffi
	url = https://github.com/CTPUG/pygame_cffi.git
[submodule "supertools"]
	path = supertools
	url = https://github.com/gissehel/supertools
[submodule "lol_ui/lol_ui/jcon-cpp"]
	path = lol_ui/lol_ui/jcon-cpp
	url = github.com:joncol/jcon-cpp.git
