[submodule "fuzzywuzzy_git"]
	path = fuzzywuzzy_git
	url = https://github.com/seatgeek/fuzzywuzzy.git
[submodule "pygame_cffi"]
	path = pygame_cffi
	url = https://github.com/CTPUG/pygame_cffi.git
[submodule "logpy_git"]
	path = logpy_git
	url = https://github.com/logpy/logpy.git
